@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header h1 {
    padding-top: 60px;
    font-size: 7vw;
}
header p {
    padding-top: 15px;
    padding-bottom: 60px;
}
p > span {
    font-size: 1.3em;
}
header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header a:hover {
    color: gray;
    text-decoration: underline;

}

header a:visited {
    color: orange;
}
header a:active {
    color: white;
}
main {
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
}
div.parte-1 {
    background-image: url('../imagens/sol-nordestino.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.500);
}
div.parte-2 {
    background-color: white;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    border-left: 2px dashed rgba(128, 128, 128, 0.70);
    border-right: 2px dashed rgba(128, 128, 128, 0.70);
}
div.parte-3 {
    background-image: url('../imagens/nordestino.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.500);
}
p.p1, p.p3 {
    text-align: justify;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.500);
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.800);
    padding: 40px;
    line-height: 40px;
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    font-size: 2vw;
}
p.p2 {
    text-align: justify;
    width: 38.5%;
    padding: 40px;
    line-height: 40px;
    font-size: 2vw;
    
}
footer {
    background-color: black;
    color: white;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
footer p {
    color: rgb(196, 196, 196);
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover {
    color: gray;
    text-decoration: underline;

}

footer a:visited {
    color: orange;
}
footer a:active {
    color: white;
}
footer span {
    font-weight: bold;
    color: white;
    font-size: 1em;
}